body{
    font-family: 'Roboto';
    background-color: #1f2937;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1{
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

h2{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.header{
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin: 0 5%;
    padding-top: 18px;
}


.header-links{
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.div-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 20px;
    margin-bottom: 90px;
}

.div-intro p{
    font-size: 18px;
    color: #E5E7EB;
}

.intro-text{
    width: 25%;
}

.intro-image{
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

.intro-button{
    width: 125px;
    height: 35px;
    border-radius: 7px;
    border-style: none;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.div-info{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-cards{
    display: flex;
    gap: 30px;
}

.card{
    max-width: 180px;
}

.card-image{
    width: 100%;
}

.div-quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text{
    max-width: 50%;
    margin: 0;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.quote-signature{
    font-size: 18px;
}