body{
    font-family: 'Roboto';
    background-color: #1f2937;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin: 0 10%;
    padding-top: 18px;
}


.header-links{
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-logo{
    font-size: 24px;
    font-weight: 700;
}

.div-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 30px 0;
}

.intro-text{
    width: 30%;
}

h1{
    font-weight: 800;
    font-size: 48px;
}

.intro-image{
    width: 400px;
    border-radius: 10px;
}

.intro-button{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.div-info{
    background-color: white;
    width: 100vh;
}